@import 'colors';

$player-height: 50px;
$player-bg: $ss-gray;

.audio-player-bar {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: $player-height;
  background-color: $player-bg;
}

.playing-track {
  flex-basis: 20%;
  flex-grow: 1;
  color: white;
  text-align: center;
}

#audio-player {
  flex-basis: 40%;
  flex-grow: 1;
  margin: auto;
}

.track-queue {
  flex-basis: 20%;
  flex-grow: 1;
  color: white;
  text-align: center;
}

.playing-track p, .track-queue p {
  font-size: 18px;
  margin: 0;
}
