.search-results-header {
  display: block;
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding: 0 50px;
}

.search-results-header p {
  font-size: 32px;
  line-height: 50px;
}
