@import 'colors';

$track_size: 225px;
$track_top_bottom_margin: 20px;

$title_height: 50px;
$title_font_size: 16px;

$play_button_size: 125px;

$like_button_size: 40px;
$like_button_x_offset: $track_size - ($like_button_size * 4 / 3);
$like_button_y_offset: $like_button_size / 3;
$update_button_x_offset: $like_button_size / 3;


.track-index-row {
  display: flex;
  justify-content: space-around;
  margin-top: $track_top_bottom_margin;
  margin-bottom: $title_height + (2 * $track_top_bottom_margin);
}

.track-index-item {
  flex: none;
  position: relative;
  width: $track_size;
  height: $track_size;
}

.track-index-item img {
  box-shadow: 0px 1px 5px black;
}

.track-index-item p {
  position: absolute;
  width: $track_size;
  line-height: $title_height;
  top: 100%; /* position below image */
  padding: $track_top_bottom_margin 0;
  text-align: center;
  font-size: $title_font_size;
}

.track-image img {
  position: absolute;
}

.track-image-overlay {
  position: absolute;
  height: $track_size;
  width: $track_size;
  background-color: transparent;
  display: block;
}

.track-image-overlay.active {
  background-color: rgba(0,0,0,0.25);
}

$play_button_offset: ($track_size - $play_button_size) / 2;

.play-circle-icon {
  position: absolute !important;
  top: $play_button_offset !important;
  left: $play_button_offset !important;
  width: $play_button_size;
  line-height: $play_button_size !important;
  font-size: $play_button_size;
  text-align: center;
  color: $ss-dark-orange;
  cursor: pointer;
}

.play-circle-bg {
  position: absolute;
  top: $play_button_offset + 5px;
  left: $play_button_offset + 5px;
  width: $play_button_size - 10px;
  height: $play_button_size - 10px;
  background-color: #fff;
  border-radius: $play_button_size/2;
}

.play-circle-bg.highlighted {
  background-color: $ss-light-gray;
}

.like-icon {
  position: absolute !important;
  top: $like_button_y_offset !important;
  left: $like_button_x_offset !important;
  width: $like_button_size;
  line-height: $like_button_size !important;
  font-size: $like_button_size - 10px;
  text-align: center;
  color: #333;
  cursor: pointer;
}

.like-icon.liked {
  color: #f39;
}

.like-icon-bg {
  position: absolute;
  top: $like_button_y_offset;
  left: $like_button_x_offset + 1px;
  width: $like_button_size;
  height: $like_button_size;
  border-radius: 10px;
  background-color: #fff;
}

.like-icon-bg.highlighted {
  background-color: $ss-light-gray;
}

.update-icon {
  position: absolute !important;
  top: $like_button_y_offset !important;
  left: $update_button_x_offset !important;
  width: $like_button_size;
  line-height: $like_button_size !important;
  font-size: $like_button_size - 10px;
  text-align: center;
  color: #333;
  cursor: pointer;
}

.update-icon-bg {
  position: absolute;
  top: $like_button_y_offset;
  left: $update_button_x_offset + 1px;
  width: $like_button_size;
  height: $like_button_size;
  border-radius: 10px;
  background-color: #fff;
}

.update-icon-bg.highlighted {
  background-color: $ss-light-gray;
}
