@import 'colors';
$track_size: 225px;
$track_top_bottom_margin: 20px;
$title_height: 50px;
$title_font_size: 16px;
$play_button_size: 125px;
$like_button_size: 40px;
$like_button_x_offset: $track_size - ($like_button_size * 4 / 3);
$like_button_y_offset: $like_button_size / 3;
$plus_button_size: 40px;
$plus_button_x_offset: $track_size - ($plus_button_size * 4 / 3);
$plus_button_y_offset: $plus_button_size * 4.3;
$update_button_x_offset: $plus_button_size / 3;
.track-index-row {
  display: flex;
  justify-content: space-around;
  margin-top: $track_top_bottom_margin;
  margin-bottom: $title_height + (2 * $track_top_bottom_margin);
}
.track-index-item {
  flex: none;
  position: relative;
  width: $track_size;
  height: $track_size;
}
.track-index-item img {
  box-shadow: 0px 1px 5px black;
}
.track-text {
  display: flex;
  align-items: center;
  position: absolute;
  width: $track_size;
  height: $title_height;
  top: 100%; /* position below image */
  left: 0;
  padding: $track_top_bottom_margin 0;
}
.track-text p {
  display: block;
  width: 100%;
  text-align: center;
  font-size: $title_font_size;
}
.track-image img {
  position: absolute;
}
.track-image-overlay {
  position: absolute;
  height: $track_size;
  width: $track_size;
  background-color: transparent;
  display: block;
}
.track-image-overlay.active {
  background-color: rgba(0,0,0,0.25);
}
$play_button_offset: ($track_size - $play_button_size) / 2;
.play-circle-icon {
  position: absolute !important;
  top: $play_button_offset !important;
  left: $play_button_offset !important;
  width: $play_button_size;
  line-height: $play_button_size !important;
  font-size: $play_button_size;
  text-align: center;
  color: $ss-dark-orange;
  cursor: pointer;
}
.play-circle-bg {
  position: absolute;
  top: $play_button_offset + 5px;
  left: $play_button_offset + 5px;
  width: $play_button_size - 10px;
  height: $play_button_size - 10px;
  background-color: #fff;
  border-radius: $play_button_size/2;
}
.play-circle-bg.highlighted {
  background-color: $ss-light-gray;
}
.like-icon {
  position: absolute !important;
  top: $like_button_y_offset + 1px !important;
  left: $like_button_x_offset - 2px !important;
  width: $like_button_size + 4px;
  line-height: $like_button_size + 4px !important;
  font-size: $like_button_size - 2px;
  text-align: center;
  color: $ss-dark-gray;
}
.like-icon.liked {
  color: #f39;
}
.like-icon-bg {
  position: absolute;
  top: $like_button_y_offset;
  left: $like_button_x_offset + 1px;
  width: $like_button_size;
  height: $like_button_size;
  border-radius: 10px;
  background-color: #fff;
}
.like-icon-bg.highlighted {
  background-color: $ss-light-gray;
}
.like-count {
  position: absolute;
  z-index: 10;
  top: $like_button_y_offset;
  left: $like_button_x_offset + 1px;
  width: $like_button_size;
  height: $like_button_size;
  line-height: $like_button_size;
  text-align: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.plus-icon {
  position: absolute !important;
  top: $plus_button_y_offset - 2px !important;
  left: $plus_button_x_offset + 1px !important;
  width: $plus_button_size + 4px;
  line-height: $plus_button_size + 4px !important;
  font-size: $plus_button_size - 2px;
  text-align: center;
  color: $ss-light-orange;
  cursor: pointer;
}
.plus-icon-bg {
  position: absolute;
  top: $plus_button_y_offset;
  left: $plus_button_x_offset + 1px;
  width: $plus_button_size;
  height: $plus_button_size;
  border-radius: 10px;
  background-color: #fff;
}
.plus-icon-bg.highlighted {
  background-color: $ss-light-gray;
}
.update-icon {
  position: absolute !important;
  top: $like_button_y_offset !important;
  left: $update_button_x_offset !important;
  width: $like_button_size;
  line-height: $like_button_size !important;
  font-size: $like_button_size - 10px;
  text-align: center;
  color: #333;
  cursor: pointer;
}
.update-icon-bg {
  position: absolute;
  top: $like_button_y_offset;
  left: $update_button_x_offset + 1px;
  width: $like_button_size;
  height: $like_button_size;
  border-radius: 10px;
  background-color: #fff;
}
.update-icon-bg.highlighted {
  background-color: $ss-light-gray;
}
.play-buttons {
  width: 100%;
  height: 50px;
}
.play-buttons button {
  float: right;
  margin-top: 10px;
  margin-right: 75px;
}
.no-results-text {
  margin: 25px 50px;
  font-size: 24px;
}
/* CIRCLE SPINNER */
.sk-fading-circle {
  position: relative;
  top: $like_button_y_offset + 4px;
  left: $like_button_x_offset + 5px;
  width: $like_button_size - 8px;
  height: $like_button_size - 8px;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
/* SQUARE SPINNER */
.track-spinner {
  margin: 100px auto;
  width: 150px;
  height: 100px;
  text-align: center;
  font-size: 10px;
}
.track-spinner > div {
  background-color: #333;
  margin-left: 10px;
  height: 100%;
  width: 20px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.track-spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.track-spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.track-spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.track-spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
