@import 'colors';

$slider-btn-highlight: $ss-light-orange;

.carousel-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: 325px;
}

.carousel {
  position: relative;
  padding-top: 10px;
}

.carousel-tracks.STILL {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: transform 1s;
  justify-content: space-around;
}

.carousel-tracks.LEFT {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 200%;
  right: 0%;
  justify-content: space-around;
}

.carousel-tracks.RIGHT {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 200%;
  right: -100%;
  justify-content: space-around;
}

.left-arrow-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: -5.555%;
  width: 5.555%;
  height: 127.5%;
  cursor: pointer;
  justify-content: space-around;
  text-align: center;
}

.left-arrow {
  font-size: 60px;
  color: #a9a9a9;
  opacity: 0.5;
  transform: scale(1, 3);
  text-align: center;
}

.right-arrow-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  right: -5.555%;
  width: 5.555%;
  height: 127.5%;
  cursor: pointer;
  justify-content: space-around;
}

.right-arrow {
  font-size: 60px;
  color: #a9a9a9;
  opacity: 0.5;
  transform: scale(1, 3);
  text-align: center;
}
