$navbar-default-bg: #666666;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  box-shadow: 0 1px 5px black;
}

.navbar a {
  color: #ccc !important;
}

.navbar a:hover {
  color: #fff !important;
}

.modal input {
  display: block;
  width: 50%;
  margin: 10px auto;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
