@import 'colors';

$btn-primary-bg: $ss-light-orange;

@import "bootstrap-sprockets";
@import "bootstrap-custom";

body, form, div, ul, li, a, h1, h2, h3, h4, h5, span, nav,
i, input, button, p, img, label {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;

  background: transparent;
}

html {
  height: 100%;
}

body {
  background-color: #ddd;
  min-height: 100%;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.main-content {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 5%;
  width: 90%;
}
