@import 'colors';

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  max-height: 300px;
  box-shadow: 0px 1px 5px black;
}

.banner button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24%;
  height: 16%;
  margin: 4%;
  font-size: 36px;
  line-height: 10%;
  opacity: 0.9;
}

.right-splash-buffer {
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 310px;
  background-color: #ddd;
}

.left-splash-buffer {
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 310px;
  background-color: #ddd;
}
