@import 'colors';

.banner {
  position: relative;
}

.tag-line-1, .tag-line-2 {
  top: 20px;
  left: 25px;
  position: absolute;
  font-size: 42px;
  line-height: 40px;
  color: #222;
  text-shadow: 0px -1px 7px #fff;
  font-family: 'Bowlby One SC', cursive;
}

.tag-line-2 {
  left: 50px;
  top: 65px;
}

.banner img {
  width: 100%;
  max-height: 300px;
  box-shadow: 0px 1px 5px black;
}

.try-it-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24%;
  max-width: 300px;
  height: 60px;
  margin: 4%;
  font-size: 40px;
  line-height: 10%;
  opacity: 0.9;
  border-radius: 37px;
}

.right-splash-buffer {
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 310px;
  background-color: #ddd;
}

.left-splash-buffer {
  position: absolute;
  top: 0;
  right: -10px;
  width: 10px;
  height: 310px;
  background-color: #ddd;
}
